{% extends 'todo_list/layout.html' %}

{% block body %}
    <h1>Salas</h1>
    {{user}}<br>
    {% if user_type == "PROFESSOR" %}
        {% for sala in rooms %}
            <a href="{% url 'view-room' sala.id %}">{{sala}}</a><br><br>
        {% empty %}
            <p>Sem salas no momento</p>
        {% endfor %}

        <a href="{% url 'create-room' %}">Criar mais salas</a>

    {% endif %}

    {% if user_type == "ESTUDANTE" %}
        <p>ESTUDANTE</p>
        <p>Salas:</p>
        {% for sala in rooms %}

            <a href="{% url 'view-room' sala.id %}">{{ sala }}</a><br><br>
        
        {% empty %}
            <p>Você não está matriculado em nenhuma sala ainda.</p>
        {% endfor %}
        
        
        <form action="{% url 'search-room' %}" method="POST">
            {% csrf_token %}
            <label>Entrar em uma sala:</label><br>
            <input type="text" placeholder="Código da sala" name="room_id">
            <input type="submit" value="Entrar na sala">
        </form>
    {% endif %}
{% endblock %}