{% extends 'todo_list/login.html' %}

{% block logo %}
    <a class="sobre" href="{% url 'login' %}">
        <h1 class="logo">Improve Invaders</h1>
    </a>
{% endblock %}

{% block body %}
<div class="right-login">
    <div class="card-login">
        <h1>Sobre</h1>
        <div class="sobre">
            <p>
                O Improve Invaders é um site projetado por alguns alunos do ensino médio, da rede pública federal, com o objetivo de criar uma plataforma online a qual poderá ser utilizada em Escolas, fazendo com que os alunos e professores tenham uma experiência mais divertida e eficiente. O site conta com algumas estratégias para manter o foco e diversão do aluno, tendo como exemplo o jogo “Space Invaders”, que tem como objetivo estimular os estudantes, fazendo com que eles entrem no site e continuem por lá estudando.
            </p>
            <p>
                O Improve Invaders conta com uma loja, na qual o aluno receberá pontos fazendo algumas atividades ou jogando o desafio diário. Esses pontos obtidos poderão ser utilizados de acordo com o que o professor decidir, temos como indicação colocar alguns produtos como tempo de monitoria, atividades extras, tempo estendido para a entrega de algumas atividades, entre outros itens. Dessa forma, utilizando a loja, os alunos vão ficar ainda mais no site para ganhar mais pontos, fazendo com que eles consigam algumas vantagens em determinadas matérias que tenham mais dificuldades, fazendo com que os estudantes estudem cada vez mais melhorando o rendimento escolar.
            </p>
        </div>
    </div>
</div>    

{% endblock %}