{% extends 'todo_list/layout.html' %}
{% load i18n %}

{% block head%}
    <style>
        body {
            background-color: #650BBF;
        }
        #info {
            color: white;
            margin: 20px;
            text-align: center;
            font-size: 1.3rem;
            margin: 2% 20%;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="info">
        <h1>{{ task }}</h1>
        <p>{{ task.description }}</p>
        {% language 'pt-BR' %}
            <p>Data de upload: {{ task.dataUpload|date:"j F, Y" }}</p>
            <p>Data de entrega: {{ task.dataEntrega|date:"j F, Y" }}</p>
        {% endlanguage %}
        
        {% if user == task.sala.professor %}
            <a href="{% url 'delete-task' task.id %}">Deletar tarefa</a>
        {% endif %}
    </div>



{% endblock %}