{% extends 'todo_list/layout.html' %}

{% block body %}
    <h1>Cadastro</h1>
    {% if message %}
        <p>{{message}}</p>
    {%endif%}
    {% if sucess_message %}
        <p>{{sucess_message}}</p>
        <a href="{% url 'login' %}">Logar</a>
    {% else %}
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Usuário" name="usuario"><br>
            <input type="email" placeholder="email" name="email"><br>
            <input type="password" placeholder="Senha" name="senha"><br>
            <input type="password" placeholder="Confirme a senha" name="senha_confirm"><br>
            {{ form.as_p }}
            <input type="submit" value="Cadastrar"><br>
        </form>
    {% endif %}
{% endblock %}