
/* NAVBAR */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;            
}

li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

header {
    height: 10vh;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0d162f;
}

.logo{
    cursor: pointer;
    height: 100px;    
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #763DF2;    
}

button{
    padding: 9px 25px;
    background-color:#3D0773;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #650BBF;
    box-shadow: 0 0 20px #650BBF;
    transform: translateY(5px);
}


/*-----------------------------------------------*/



section{
    width: 100%;
    height: 90vh;
    display: grid;
    place-items: center;
    background-color: #650BBF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section h1{    
    position: relative;
    font-size: 104px;
    top: 30%;
    color: rgba(255,255,255,0.1);
    transition: 0.3s;
}
section h1:hover{
    filter: drop-shadow(0 0 25px rgba(150, 3, 255, 0.301)) drop-shadow(0 0 15px rgb(255, 255, 255, 0.25));
}

section h1:before{
    content: attr(titulo);
    font-size: 64px;
    color: #15234d;
    position: absolute;
    top: 50%;
    left: 35%;    
    transform: translate(-30%,-40%);
    
}

section p{
    width: 68vw;
    height: 10vh;
    line-height: 20px;
    font-size: 17px;
    font-weight: 100;
    text-align: justify;
    transition: 0.3s;
}

section p:hover{
    filter: drop-shadow(0 0 25px rgba(150, 3, 255, 0.301)) drop-shadow(0 0 15px rgb(255, 255, 255, 0.1));
}

@media screen and (max-width: 764px){

    section h1:before{
        font-size: 44px;
    }
    section h1{    
        font-size: 74px;
    }
        
}