/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    width: 100%;
    height: 100%;     
}

.navv{
    width: 100%;
    height: 20%;
}
*/

/* NAVBAR */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;            
}

li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

header {
    height: 10vh;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0d162f;
    filter: drop-shadow(0 0 25px rgba(150, 3, 255, 0.301)) drop-shadow(0 0 15px rgb(255, 255, 255, 0.5));
}

.logo{
    cursor: pointer;
    height: 100px;    
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #763DF2;    
}

button{
    padding: 9px 25px;
    background-color:#3D0773;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #650BBF;
    box-shadow: 0 0 20px #650BBF;
    transform: translateY(5px);
}


/*-----------------------------------------------*/
