
/* NAVBAR */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;            
}

li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

header {
    height: 10vh;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0d162f;
    filter: drop-shadow(0 0 25px rgba(150, 3, 255, 0.301)) drop-shadow(0 0 15px rgb(255, 255, 255, 0.5));
}

.logo{
    cursor: pointer;
    height: 100px;    
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #763DF2;    
}

button {
    padding: 9px 25px;
    background-color:#3D0773;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #650BBF;
    box-shadow: 0 0 20px #650BBF;
    transform: translateY(5px);
}

.b1:hover {
    background-color: #300042;
    box-shadow: 0 0 20px #763DF2;
    transform: translateY(5px);
}
.b2:hover {
    background-color: #050c49;
    box-shadow: 0 0 20px #2b87ff;
    transform: translateY(5px);
}

/*-----------------------------------------------*/

body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #434343;
    font-size: 16px;
}

main{
    justify-content: center;
    align-items: center;
    text-align: center;
}


main.cards {
    display: flex;
    height: 25%;
    width: 30%;
    padding: 20px;
    margin-top: 12%;
    margin-left: 36%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    transition: 0.3s;
}

main.cards section.card:hover{
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.3);
}

/*
main.cards section.card:first-child {
    ficava o margin left
}
*/

.enviar {
    color: white;
    background-color: #300042;
    padding: 4px 8px;
    border: solid 0px;
    border-radius: 20px;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
    height: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #9F66FF, #DFCBFF);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #FE5F8F, #FFC7D9);
}

main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px #FFC1D5;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}