@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/*Configuração usando o object para chamar*/
/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    width: 100%;
    height: 100%;     
}

.navv{
    width: 100%;
    height: 20%;
}
*/


/*----------------------------------------*/


/* NAVBAR */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;            
}

li, a, button{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

header {
    height: 10vh;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #0d162f;
    filter: drop-shadow(0 0 25px rgba(150, 3, 255, 0.301)) drop-shadow(0 0 15px rgb(255, 255, 255, 0.5));
}

.logo{
    cursor: pointer;
    height: 100px;    
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #763DF2;    
}

button{
    padding: 9px 25px;
    background-color:#3D0773;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #650BBF;
    box-shadow: 0 0 20px #650BBF;
    transform: translateY(5px);
}


/*-----------------------------------------------*/


/*GRID LAYOUT*/

.main{
  width: 100%;
  height: 90vh;
  background: #650bbf;
}

.container{  
  max-width: 95%;
  margin: 0 auto;
  height: 9%;
  display: grid;
  grid-gap: 20px;
  

  grid-template-areas: 
  "sidenav item"
  "sidenav item"
  "footer footer";
    
}


section{
  width: 100%;
  height: 100vh;  
}

section img{  
  margin: 10px 34%;  
  width: 15vw;
  height: 50%;
  border-radius: 20px;
}

section .sidenav{
  align-items: center;
  margin-top: 10px;
  margin-left: 5vw;
  width: 45vw;
  height: 100%;

  border-radius: 20px;
  
  border: 2px solid rgba(255, 255, 255, 0.3);
  
  background: rgb(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  transition: 0.3s;
  overflow: hidden;

  grid-area: "sidenav";
  grid-row: sidenav;
}

section .sidenav:hover{
  transform: translateY(5px);
}

section .sidenav::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgb(168, 90, 247, 0.5);
  /* background: rgba(255, 255, 255, 0.4); */
  transform: skewX(45deg) translateX(500px);
  transition: 0.5s;
}

section .sidenav:hover::before{
  transform:skewX(45deg) translateX(-150px);
}


.sidenav h2{
  background: transparent;
  font-size: 50px;
  font-weight: 1000;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.sidenav p{
  text-align: center;  
  background: transparent;
  font-size: 15px;
  padding-top: 10px;
  margin: auto;
  max-width: 800px;
  font-family: 'Source Code Pro', monospace;
  color: rgb(255, 255, 255, 0.7);
}



section .item{
  align-items: center;
  margin-top: 10px;    
  width: 90%;
  border-radius: 3%;
  height: 38vh;
  color: white;
  text-align: center;
  padding: 10px 30px;  
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  transition: 0.3s;
  overflow: hidden;
  
  grid-area: "item";
}

section .item:hover{
  transform: translateY(5px);
}

section .item::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgb(168, 90, 247, 0.5);
  /* background: rgba(255, 255, 255, 0.4); */
  transform: skewX(45deg) translateX(500px);
  transition: 0.5s;
}

section .item:hover::before{
  transform:skewX(45deg) translateX(-150px);
}

.item img{
  height: 130px;
  width: 130px;    
}


.item h2{
  background: transparent;
  font-size: 50px;
  font-weight: 1000;
  margin-top: 10px;
  font-family: 'Source Code Pro', monospace;
}

.item p{
  background: transparent;
  font-size: 13px;
  margin: auto;
  max-width: 800px;
  font-family: 'Source Code Pro', monospace;
  color: rgb(255, 255, 255, 0.7);
}


/*
section .button{
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: skyblue;
  padding: 10px 0 30px;
  margin: 30px 0 10px;
  border-radius: 30px;
  transition: 0.5s;
}

.button:hover{
  color: blue;
}
*/

/*
section .item2{
  margin-top: 10px;  
  width: 100%;
  height: 38vh;
  background-color: #333;
  border-radius: 20px;
  grid-area: "item";
}
*/

section .footer{
  width: auto;
  height: 5vh;
  background-color: #0d162f;
  border-radius: 10px;
  grid-area: "footer";
  grid-column: footer;
}

/*-----------------------------------------------*/

